body {
    background-image: url(/images/web2.jpg);
    background-repeat: no-repeat;
    color: red;
    font-size: 25px;
}
.container {
    background-color: rgb(88, 51, 6);
    text-align: center;
    padding-bottom: 20px;
}
h1 {
    text-align: center;
    font-size: 45px;
    color: rgb(0, 0, 0);
}
h2 {
    text-align: center;
    color: rgb(255, 79, 79);
    font-size: 30px;
}
th, td {
    border: 1px solid white;
    padding: 8px;
    padding-right: 80px;
    color: crimson;
}
#head {
    padding-right: 20px;
    text-align: center;
    border: 3px solid white;
}
hr {
    color: black;
    border: 1px solid black;
}
table {
    margin: 20px;
    padding: 10px;
}
form {
    width: 500px;
    margin: auto;
}
.form-check {
    margin-bottom: 10px;
}
ul {
    text-align: justify;
    font-size: 16px;
    color: white;
}
#checky {
    font-size: 18px;
    padding-bottom: 5px;
}
.btn.btn-primary {
    background-color: tomato;
    border: thin;
}
footer {
    font-size: 15px;
}